/* Cleanup */

#read-article>md-content a {
  cursor: pointer;
}

#read-article>md-content .mw-editsection,
#read-article>md-content .noprint,
#read-article>md-content .metadata,
/*#read-article>md-content .tocnumber,*/

#read-article>md-content .mw-cite-backlink,
#read-article>md-content .reference-accessdate,
#read-article>md-content #coordinates,
#read-article>md-content .navbox-title>.plainlinks.hlist.navbar.mini,
#read-article>md-content .plainlinks.hlist.navbar.mini,
#read-article>md-content .navbox-abovebelow {
  display: none;
}

#read-article>md-content #toc {
  top: 16px;
  position: relative;
  clear: both;
  padding: 8px 0;
  color: #fff;
}

#read-article>md-content img {
  background-color: #fff;
}

#read-article>md-content #toc::before,
#read-article>md-content .references::before {
  content: "";
  display: block;
  height: 100%;
  width: 200%;
  background-color: #0097A7;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

#read-article>md-content .navbox::before,
#read-article>md-content .vertical-navbox::before {
  content: "";
  display: block;
  height: 100%;
  width: 200%;
  background-color: #0097A7;
  position: absolute;
  bottom: -32px;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
}

#read-article>md-content .navbox::after,
#read-article>md-content .vertical-navbox::after {
  content: "";
  display: block;
  height: 64px;
  width: 200%;
  background-color: #0097A7;
  position: absolute;
  top: -32px;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
}

#read-article>md-content ul {
  padding: 0 0px 0px 24px;
}

#read-article>md-content #toctitle>h2 {
  padding-bottom: 16px;
  line-height: 0 !important;
}

#read-article>md-content #toc ul {
  padding: 0;
  list-style-type: none;
}

#read-article>md-content #toc a>* {
  color: #fff;
}

#read-article>md-content #toc li.toclevel-2 {
  padding-left: 32px;
}

#read-article>md-content #toc li.toclevel-3 {
  padding-left: 64px;
}

#read-article>md-content #toc li.toclevel-4 {
  padding-left: 96px;
}

#read-article>md-content #toc li.toclevel-5 {
  padding-left: 128px;
}

#read-article>md-content #toc a>.tocnumber {
  font-weight: 300;
  padding-right: 16px;
}

#read-article>md-content>h2 {
  clear: both;
}

#read-article>md-content span {
  white-space: initial;
}

#read-article>md-toolbar .lang {
  color: #B2EBF2;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 8px;
}

#read-article>md-toolbar>md-row>md-text {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#read-article>md-content .references {
  padding: 0;
  position: relative;
  list-style-type: decimal;
  color: #fff;
  padding-bottom: 16px;
}

#read-article>md-content .references::after {
  content: "";
  display: block;
  height: 84px;
  width: 200%;
  background-color: #0097A7;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, 0);
}

#read-article>md-content .references>li {
  background-color: #fff;
  width: 479px;
  font-weight: 500;
  margin: 16px 0;
  margin-left: 68px;
  padding: 2px 8px 8px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  will-change: box-shadow;
  transition: box-shadow 0.25s;
}

#read-article>md-content .thumb:hover,
#read-article>md-content .references>li:hover,
#read-article>md-content .navbox:hover,
#read-article>md-content .vertical-navbox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

#read-article>md-content .references>li:before {
  content: ".";
  color: #0097A7;
  float: left;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 49px;
  line-height: 34px;
}

#read-article>md-content .references>li>.reference-text {
  color: #000;
  font-weight: normal;
}

#read-article>md-content {
  padding: 0 16px 8px 16px;
}

#read-article>md-content>p,
#read-article>md-content h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#read-article>md-content h4 {
  font-weight: 500;
}

#read-article>md-content a {
  color: #0097A7;
  text-decoration: none;
}

#read-article>md-content .thumb {
  background-color: #0097A7;
  color: #fff;
  will-change: box-shadow;
  transition: box-shadow 0.25s;
}

#read-article>md-content .thumb a {
  color: #B2EBF2;
}

#read-article>md-content .thumb,
#read-article>md-content .navbox,
#read-article>md-content .vertical-navbox,
#read-article>md-content .infobox {
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border-radius: 2px;
}

#read-article>md-content .navbox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

#read-article>md-content .thumb.tright {
  margin: 16px 0 8px 8px;
  clear: both;
  float: right;
}

#read-article>md-content .infobox,
#read-article>md-content .navbox,
#read-article>md-content .vertical-navbox {
  clear: both;
  width: 100%;
  background: #fff;
  position: relative;
  margin: 32px 0 64px 0;
  transition: box-shadow 0.25s;
  text-align: center;
}

#read-article>md-content .infobox,
#read-article>md-content .navbox {
  margin: 16px 0;
  clear: both;
  width: 100%;
}

#read-article>md-content .infobox {
  margin: 32px 0;
}

#read-article>md-content .navbox dd,
#read-article>md-content .vertical-navbox dd,
#read-article>md-content .infobox dd {
  margin: 0;
}

#read-article>md-content .navbox ul,
#read-article>md-content .vertical-navbox ul {
  padding: 0;
}

#read-article>md-content .navbox li,
#read-article>md-content .vertical-navbox li {
  list-style-type: none;
}

#read-article>md-content .thumb.tleft,
#read-article>md-content .infobox {
  margin: 16px 8px 8px 0;
  clear: both;
  float: left;
}

#read-article>md-content .infobox {
  text-align: center;
  width: 100%;
}

#read-article>md-content h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -.01em;
}

#read-article>md-content .reference-title {
  color: #fff;
}

#read-article>md-content .navbox dd,
#read-article>md-content .vertical-navbox dd,
#read-article>md-content .infobox dd,
#read-article>md-content .NavHead,
#read-article>md-content .navbox .navbox-group {
  text-align: center;
  background: #0097A7;
  padding: 8px;
  color: #fff;
}

#read-article>md-content .navbox dd a,
#read-article>md-content .vertical-navbox dd a,
#read-article>md-content .infobox dd a,
#read-article>md-content .NavHead a,
#read-article>md-content .navbox .navbox-group a {
  color: #B2EBF2;
}

#read-article>md-content h3,
#read-article>md-content .references>li,
#read-article>md-content .NavHead,
#read-article>md-content .navbox .navbox-group,
#read-article>md-content .NavHead li,
#read-article>md-content #toc a>* {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -.012em;
}

#read-article>md-content .VT.rellink>span,
#read-article>md-content .hatnote,
#read-article>md-content .thumbcaption {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: .011em;
}

#read-article>md-content .VT.rellink>span,
#read-article>md-content .hatnote {
  color: #9E9E9E;
}

#read-article>md-content li,
#read-article>md-content .references>li>.reference-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#read-article>md-content .infobox {
  margin: 32px 0;
}

#read-article>md-content .navbox .navbox-list ul {
  display: flex;
  flex-wrap: wrap;
}

#read-article>md-content .navbox .navbox-list ul>li {
  flex-shrink: 0;
  padding-left: 8px;
}

#read-article>md-content .navbox .navbox-list ul>li::before {
  content: "·";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 8px;
}
